.project-card {
    background: #fff;
    height: 300px;
    margin: auto;
    position: relative;
    width: 325px;
    box-shadow: 0 7px 5px #999, 0 4px 6px #999;
    align-items: center;
    margin-bottom: 30px;
    display: inline-block;
    margin-right: 30px;
    opacity: 0.7;
    
  }

  .project-card:hover {
    width: 330px;
    height: 310px;
   
    opacity: 1;
  }

  .titre {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
  }

  header {
    
    font-size: 50px;
    font-family: 'Fascinate Inline', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(255, 249, 249)
  }
  
  .project-card > .img-container {
    height: 66%;
    overflow: hidden;
    text-align: center;
    background: rgb(44, 35, 38);
  }

  .project-card > .img-container > img {
    width:100%;
    height: 100%;
  }
  
  .project-card > .content {
    text-align: center;
    color:black;
    background-image: linear-gradient(rgb(250, 244, 244), rgb(12, 12, 11));
    padding: 5px;
    font-size: 15px;
  }

  .git {
    margin-right: 5px;
  }
  
  .project-card > .content {
    margin-top: 10px;
  }
  
 
  
 