

h4 {
    color: rgb(197, 197, 197);
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    /* letter-spacing: 1px; */
    /* font-weight: bold; */
}

.pic {
	height: 200px;
	width: 100px;
}


.aw-btn {
	--button-hover-pressure: 4;
--transform-speed: 0.4s;

}



.btn {
    border-radius: 10px;
    

}