.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-btn {
    width: 100%;
  }
  
  .modal-main2 {
    position:fixed;
    background-image: linear-gradient(rgb(248, 241, 241), rgb(160, 1, 1));
    width: auto;
    padding: 60px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
    border-radius: 50px;
  }  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }