.tec-skills {
    font-size: 15px;
    font-weight: bold;
    /* text-align: left; */
    color: black;
    
}

.education {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.marketing {
    /* text-align: left; */
    font-size: 15px;
    font-weight: bold;
    color: black;
}


h2 {
    
    font-family: 'Amatic SC', cursive;
    color: black;
    
}