.tec-skills {
    font-size: 15px;
    font-weight: bold;
    /* text-align: left; */
    color: rgb(189, 187, 187);
    
}

.education {
    font-size: 15px;
    font-weight: bold;
    color: rgb(189, 187, 187);
}

.marketing {
    /* text-align: left; */
    font-size: 15px;
    font-weight: bold;
    color: rgb(189, 187, 187);
}


h2 {
    
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 254, 254);
    
}